h1 {
  color: var(--color-first)
}

main {
  animation: appear 1s 1;
  background-color: var(--color-sixth);

  width: 80%;
  margin: 2rem auto;
  padding: 2rem;

  border: 2px outset var(--color-first);
  border-radius: 10px;
}
