:root {
  /* Base https://coolors.co/22a5b3-e3eef2-162e24-79b8c2-e0c63e-d9dfdc */
  --color-third: #162e24;
  --color-second: #e3eef2;
  --color-sixth: #d9dfdc;
  --color-fourth: #79b8c2;
  --color-first: #22a5b3;
  --color-fifth: #e0c63e;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-third);
  color: var(--color-third);
}

.dark-theme {
  background-color: var(--color-third);
  color: var(--color-sixth);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
