// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-weather-primary: mat.define-palette(mat.$indigo-palette);
$ng-weather-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-weather-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-weather-theme: mat.define-light-theme(
  (
    color: (
      primary: $ng-weather-primary,
      accent: $ng-weather-accent,
      warn: $ng-weather-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-weather-theme);

:root {
  /* Base https://coolors.co/22a5b3-e3eef2-162e24-79b8c2-e0c63e-d9dfdc */
  --color-third: #162e24;
  --color-second: #e3eef2;
  --color-sixth: #d9dfdc;
  --color-fourth: #79b8c2;
  --color-first: #22a5b3;
  --color-fifth: #e0c63e;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--color-third);
  color: var(--color-third);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:is(h1, h2, h3, h4, h5) {
  margin: 0;
}

.dark-theme {
  background-color: var(--color-third);
  color: var(--color-sixth);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
